<div class="ut-cookie-bar" id="cookieBar">
  <p>We use cookies to enhance your experience, personalise content, and analyse our traffic. By using our site you agree to our <a href="/pages/privacy-policy">Privacy Policy</a>.</p>
  <div class="ut-cookie-btns">
    <button class="ut-cookie-accept" onclick="acceptCookies()">Accept All</button>
    <button class="ut-cookie-decline" onclick="declineCookies()">Decline</button>
  </div>
</div>
